*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.btn-primary{
    height: 34px;
    border-radius: 3px;
    background-color: #ece7e3;
    color: rgb(7, 2, 25);
    font-weight: 100px;
    font-size: 10px;
    border: 0;
    padding: 9px 18px;
    border-radius: 2px;
}
/* Header & Banner Part */

.header{
    background-color: #fff8f3;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
}
.banner{
    display: flex;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 30%;
    left: 70%;
    /* margin: -150px 0 0 -1px; */

}
.banner-title{
    color: #fff8f3;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.banner-description{
    text-align: justify;
    padding-bottom: 20px;
    color: #ece7e3;
}
.body-one{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.body-one-right{
    /* background-color: orange; */
    padding-left: 350px;

    /* margin-left: 80px; */
}
.body-one-paragraph{
    padding-top: 20px;
}

.body-one-right-title{
    font-weight: 900;
    /* font-size: 20px */
}

.body-one-checklist{
    /* background-color: blue; */
    padding-left: 20px;
    padding-top: 20px;
}

/* Body part 2 */

.skills-container{
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 30px;

}
.skill{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-weight: 300px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.skill-description{
    text-align: center;
    }
.my-plan{
        margin-top: 330px;
    
}

.skill{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.section-title{
    text-align: center;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Body Part 3  */

.body-part-three{
    background-color: #fff8f3;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: 50% 100%; 
    text-align: center;
    /* height: 100vh; */
    /* background-attachment: fixed; */
    background-position: center;
    position: relative;
    padding-right: 490px;
    color: whitesmoke;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.contact{
   
    display: flex;
    gap: 100px;
    background-color: #0f0702;
    padding: 130px 200px;
    color: #fff8f3;
}
.contact .section-title{
    text-align: left;
   
   }
   .contact a{
    text-decoration: none;
}
